<table class="w3-table-all w3-hoverable w3-card-4 w3-centered">
  <tr>
    <th>Время начала торгов</th>
    <td colspan="2">
      <input type="time" id="appt-time1" class="w3-input" min="9:00" max="18:00"/>
    </td>
  </tr>
  <tr>
    <th>Время окончания торгов</th>
    <td colspan="2">
      <input type="time" id="appt-time2" class="w3-input" min="9:00" max="18:00"/>
    </td>
  </tr>
  <tr>
    <th>Интервал пересчета акций</th>
    <td>
      <input [(ngModel)]="val" type="range" min="1" max="20" value=5 class="w3-input slider"/>
    </td>
    <td>
      <span #deltat>{{val}} мин</span>
    </td>
  </tr>
</table>
